.background-img{
    width: 300%; /* Set a width */; /* This will prevent the image from repeating */
    object-fit: cover; /* This will cover the entire element area */
    filter: saturate(150%) brightness(80%) contrast(100%);
}
