.background-img{
    background-image: url('/src/pictures/ClinkGlass_1.avif');
    height: 100vh; /* Set a height */
    width: 100%; /* Set a width */
    background-repeat: no-repeat; /* This will prevent the image from repeating */
    background-size: cover; /* This will cover the entire element area */
    background-position: center; /* This will center the image in the element */
    filter: saturate(150%) brightness(80%) contrast(90%);
}

