@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.custom-radius {
  border-radius: 32% 68% 27% 73% / 70% 30% 70% 30% ;
}
.custom-radius-2 {
  border-radius: 69% 31% 71% 29% / 59% 67% 33% 41% ;
}

:root {
  font-family: 'Playfair Display', serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: white;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  position: relative;
  text-decoration: none;
  color:black !important;
}

a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px; /* Adjust the height as needed */
  bottom: 0;
  left: 0;
  background-color: black; /* Adjust the color as needed */
  transition: width 0.3s ease; /* Adjust the duration and easing as needed */
}

a:hover::before {
  width: 100%;
  color: black;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
